section.home_obits
    .home__main-desc
        h3.home__main-title     affordable cremation
        h3.home__second-title    burial packages
    .obits__title Resent obituaries
    .home-obits__list-wrap
        .home-page__obits-arrow-left
            img.obits__arrow-icon(src="assets/img/icons/obits_slide-l.png" alt="arrow left")
        ul.home_obits__list
            img.obits__list-bg-left(src="assets/img/home_obits_bg.png" alt="funeral page background")
            -
                var obits_frontlist = [
                ['/assets/img/zorya.jpg', 'Zorya', 'Grishovich', '1936-2019', '/obits.html'],
                ['/assets/img/stanislav.jpg', 'Stanislav', 'Zyumchenko', '1950-2019', '/obits.html'],
                ['#', 'first name', 'last name', 'date-date', '/obits.html'],
                ['#', 'first name', 'last name', 'date-date', '/obits.html'],
                ['#', 'first name', 'last name', 'date-date', '/obits.html']
                ]
            each item in obits_frontlist
                li.home_obits__item
                    .home_obits__item-innerwrap
                        .obit__img-wrap
                            img(src=`${item[0]}`).obit__img
                        .obit__firstname= item[1]
                        .obit__lastname= item[2]
                        .obit_date= item[3]
                        .obit_link-wrap
                            a.obit__link(href=`${item[4]}`) view
            img.obits__list-bg(src="assets/img/home_obits_bg_r.png" alt="funeral page background")
        .home-page__obits-arrow-right
            img.obits__arrow-icon(src="assets/img/icons/obits_slide-r.png" alt="arrow left")


